# Python
__pycache__/
*.pyc
.venv/
*.db
*.db-wal
*.db-shm

# Node / React
node_modules/
build/
dist/

# Environment files
.env

# OS files
.DS_Store
Thumbs.db
*.log

# Subfolders
music-mirror-v1/
scratch/
